/***********************************************************************************************************************
A. Basic Styling
***********************************************************************************************************************/
 
/*-------------------------------------------
 -- Styling - Colors, Font Size, Font Family
-------------------------------------------*/
 
body {
  color: #737373;
  font-family: "museo", serif;
  font-weight: 700;
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
  font-display: swap;
 }
  
 html {
  font-size: 80%;
 }
  
 h1,
 .ts-h1 {
  font-weight: 700;
  font-size: 2.5rem;
 }
  
 h2,
 .ts-h2 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #2C302E;
 }
  
 h3,
 .ts-h3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 1rem;
 }
  
 h4,
 .ts-h4 {
  font-weight: 700;
  margin-bottom: 1.875rem;
 }
  
 h5,
 .ts-h5 {
  font-size: 1rem;
  font-weight: 700;
 }
  
 p {
  font-family: museo-slab, serif;
  font-weight: 500;
  font-style: normal;
  color: #737373;
 }
  
 .dark-bg {
  font-family: museo-slab, serif;
  font-weight: 500;
  font-style: normal;
  color: #737373;
 }
  
 h6,
 .ts-h6 {
  font-size: 0.9375rem;
 }
  
 .ts-background-image ts-parallax-element {
  opacity: 0;
 }
  
 .nav-link {
  font-weight: 900;
  font-size: 1rem;
  color: #737373;
 }
  
 #us, #about-3, #mission, #team {
  height: 100vh;
  display: flex;
  align-items: center;
 }
  
 #services-1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
 }
  
 #location {
  z-index: -1;
 }
  
 .footer-ul li{
  color: #333;
 }
  
 .card-text {
  font-size: .85em;
 }
  
 .promo-card {
  position: relative;
 }
  
 .promo-banner {
  position: fixed;
  top: 20px;
  z-index: 2;
 }
  
  
  
 /* NEW */
  
 /***********************************************************************************************************************
 B. Helpers
 ***********************************************************************************************************************/
  
 /*-------------------------------------------
  -- Animations
 -------------------------------------------*/
  
 [data-animate] {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 0.6s;
  animation-timing-function: ease;
 }
  
 /* Fade In Up */
  
 @keyframes ts-fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 1.25rem, 0);
  }
  
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
 }
  
 .ts-fadeInUp {
  animation-name: ts-fadeInUp;
 }
  
 /* Fade In Down */
  
 @keyframes ts-fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -1.25rem, 0);
  }
  
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
 }
  
 .ts-fadeInDown {
  animation-name: ts-fadeInDown;
 }
  
 /* Fade In Left */
  
 @keyframes ts-fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-1.25rem, 0, 0);
  }
  
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
 }
  
 .ts-fadeInLeft {
  animation-name: ts-fadeInLeft;
 }
  
 /* Fade In Right */
  
 @keyframes ts-fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(1.25rem, 0, 0);
  }
  
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
 }
  
 .ts-fadeInRight {
  animation-name: ts-fadeInRight;
 }
  
 /* Zoom In */
  
 @keyframes ts-zoomIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  
  to {
    opacity: 1;
    transform: scale(1);
  }
 }
  
 .ts-zoomIn {
  animation-name: ts-zoomIn;
 }
  
 /* Zoom Out In */
  
 @keyframes ts-zoomOutIn {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  
  to {
    opacity: 1;
    transform: scale(1);
  }
 }
  
 .ts-zoomOutIn {
  animation-name: ts-zoomOutIn;
 }
  
 /* Zoom In Short */
  
 @keyframes ts-zoomInShort {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  
  to {
    opacity: 1;
    transform: scale(1);
  }
 }
  
 .ts-zoomInShort {
  animation-name: ts-zoomInShort;
 }
  
 .ts-font-color__white {
  color: #fff;
 }
  
 .ts-font-color__black {
  color: #000;
 }
  
 .ts-font-color__primary {
  color: #1976bd;
 }
  
 .ts-font-color__secondary {
  color: #08836a;
 }
  
 /*-------------------------------------------
  -- Background
 -------------------------------------------*/
  
 [data-bg-image] {
   max-width: 1920px;
   max-height: 1080px;
  background-size: cover;
  background-position: 30%;
 }
  
 .ts-background {
  bottom: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: -2;
 }
  
 .ts-background .ts-background {
  height: 100%;
  width: 100%;
 }
  
 .ts-background-repeat {
  background-repeat: repeat;
  background-size: inherit;
 }
  
 .ts-background-repeat .ts-background-image {
  background-repeat: repeat;
  background-size: inherit;
 }
  
 .ts-background-image,
 .ts-img-into-bg {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  height: 100%;
  overflow: hidden;
  width: 100%;
  border-radius: 5px;
 }
  
 .column-img {
    overflow: hidden;
    width: 100%;
    border-radius: 5px;
 }
  
 .column-img-2 {
    overflow: hidden;
    margin: auto;
    width: 100%;
    border-radius: 5px;
    padding: 0;
 }
  
  
 .ts-background-image-hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 100%;
    overflow: hidden;
    width: 100%;
  }
  
 .ts-background-image img,
 .ts-img-into-bg img {
  display: none;
 }
  
 .ts-background-image img {
    border-radius: 5px;   
 }
  
 .ts-background-original-size {
  background-size: inherit;
 }
  
 .ts-background-size-cover {
  background-size: cover;
 }
  
 .ts-background-size-contain {
  background-size: contain;
 }
  
 .ts-background-repeat-x {
  background-repeat: repeat-x;
 }
  
 .ts-background-repeat-y {
  background-repeat: repeat-y;
 }
  
 .ts-background-repeat-repeat {
  background-repeat: repeat;
  background-size: inherit;
 }
  
 .ts-background-position-top {
  background-position: top;
 }
  
 .ts-background-position-center {
  background-position: center;
 }
  
 .ts-background-position-bottom {
  background-position: bottom;
 }
  
 .ts-background-position-left {
  background-position-x: left !important;
 }
  
 .ts-background-position-right {
  background-position-x: right !important;
 }
  
 .ts-background-particles {
  height: 120%;
  left: 0;
  margin-left: -10%;
  margin-top: -10%;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 120%;
  z-index: 1;
 }
  
 /*-------------------------------------------
  -- Opacity
 -------------------------------------------*/
  
 .ts-opacity__5 {
  opacity: 0.05;
 }
  
 .ts-opacity__10 {
  opacity: 0.1;
 }
  
 .ts-opacity__20 {
  opacity: 0.2;
 }
  
 .ts-opacity__30 {
  opacity: 0.3;
 }
  
 .ts-opacity__40 {
  opacity: 0.4;
 }
  
 .ts-opacity__50 {
  opacity: 0.5;
 }
  
 .ts-opacity__60 {
  opacity: 0.6;
 }
  
 .ts-opacity__70 {
  opacity: 0.7;
 }
  
 .ts-opacity__80 {
  opacity: 0.8;
 }
  
 .ts-opacity__90 {
  opacity: 0.9;
 }
  
 /*-------------------------------------------
  -- Overflow
 -------------------------------------------*/
  
 .ts-overflow__hidden {
  overflow: hidden;
 }
  
 .ts-overflow__visible {
  overflow: visible;
 }
  
 .ts-push-left__100 {
  transform: translateX(100%);
 }
  
 /*-------------------------------------------
  -- Typography
 -------------------------------------------*/
  
 a {
  color: #1976bd;
  transition: 0.3s ease;
  text-decoration: underline;
 }
  
 .btn, nav a {
  text-decoration: none;
 }
  
 a:hover {
  color: rgb(7, 84, 237);
  text-decoration: none;
 }
  
 p {
  line-height: 1.6875rem;
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.5);
 }
  
 .ts-text-small {
  font-size: 0.8125rem !important;
 }
  
 ts-background-image rounded-corners {
    border-radius: .25em;
 }
  
 img {
    border-radius: .25em;
    position: relative;
 }

 .landscape-img {
   max-width: 750px;
   max-height: 500px;
 }

.img-cut {
  max-width: 500px;
  max-height: 250px;
}
  
 .tpc-img {
  order: 1;
 }
  
 .tpc-text {
  order: 2;
 }
  
 /*-------------------------------------------
  -- Title
 -------------------------------------------*/
  
 .ts-title h5 {
  font-weight: normal;
  opacity: 0.5;
 }
  
 /*-------------------------------------------
  -- Utilities
 -------------------------------------------*/
  
 .ts-element {
  position: relative;
 }
  
 /*-------------------------------------------
  -- Z-index
 -------------------------------------------*/
  
 .ts-z-index__-1 {
  z-index: -1 !important;
 }
  
 .ts-z-index__0 {
  z-index: 0 !important;
 }
  
 .ts-z-index__1 {
  z-index: 1 !important;
 }
  
 .ts-z-index__2 {
  z-index: 2 !important;
 }
  
 .ts-z-index__1000 {
  z-index: 1000 !important;
 }
  
 /***********************************************************************************************************************
 C. Components
 ***********************************************************************************************************************/
  
 /*-------------------------------------------
  -- Block
 -------------------------------------------*/
  
 .ts-block {
  padding-bottom: 4rem;
  padding-top: 4rem;
  position: relative;
 }
  
 .ts-block-inside {
  padding: 1.25rem;
  position: relative;
 }
  
 /*-------------------------------------------
  -- Box
 -------------------------------------------*/
  
 .ts-box {
  background-color: #fff;
  border-radius: 0.25rem;
  margin-bottom: 1.875rem;
  box-shadow: 0.125rem 0.1875rem 0.9375rem rgba(0, 0, 0, 0.15);
  padding: 1.5625rem;
 }
  
 /*-------------------------------------------
  -- Buttons
 -------------------------------------------*/
  
 .btn {
  border-radius: 6.25rem;
  border-width: 0.125rem;
  box-shadow: 0.125rem 0.1875rem 0.9375rem rgba(0, 0, 0, 0.15);
  font-weight: 600;
  font-size: 0.9375rem;
  padding: 0.5rem 1.25rem;
  position: relative;
  outline: none !important;
 }
  
 .btn:hover .fa-arrow-right {
  transform: translateX(0.5rem);
 }
  
 .btn .fa-arrow-right {
  transition: 0.6s cubic-bezier(0.85, -0.37, 0.17, 1.45);
  transform: translateX(0) rotate(0.02deg);
 }
  
 .btn span {
  transition: 0.3s ease;
 }
  
 .btn .status {
  bottom: 0;
  height: 1.375rem;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  width: 1.5rem;
 }
  
 .btn .status .spinner {
  left: 0.3125rem;
  transition: 0.3s ease;
  top: 0.1875rem;
  position: absolute;
  opacity: 0;
 }
  
 .btn .status .status-icon {
  border-radius: 50%;
  left: 0;
  opacity: 0;
  font-size: 0.625rem;
  padding: 0.25rem 0.4375rem;
  position: relative;
  transition: 0.3s ease;
  z-index: 1;
  transform: scale(0);
 }
  
 .btn .status .status-icon.valid {
  background-color: var(--green);
 }
  
 .btn .status .status-icon.invalid {
  background-color: var(--red);
 }
  
 .btn.processing span {
  opacity: 0.2;
 }
  
 .btn.processing .spinner {
  opacity: 1;
 }
  
 .btn.done .ts-spinner {
  opacity: 0;
 }
  
 .btn.done .status-icon {
  transform: scale(1);
  opacity: 1;
 }
  
 .btn-primary:hover,
 .btn-primary:focus,
 .btn-primary:active {
  background-color: #18947b;
  border-color: #18947b;
  box-shadow: 0.125rem 0.1875rem 0.9375rem rgba(0, 0, 0, 0.3);
 }
  
 .btn-primary {
  background-color: #08836a;
  border-color: #08836a;
  color: #fff;
 }
  
 .btn-primary.disabled,
 .btn-primary:disabled {
  background-color: #18947b;
  border-color: #18947b;
 }
  
 .btn-primary:not(:disabled):not(.disabled):active:focus,
 .btn-primary:not(:disabled):not(.disabled).active:focus,
 .show > .btn-primary.dropdown-toggle:focus {
  background-color: #08836a;
  border-color: #08836a;
  box-shadow: 0 0.1875rem 0.9375rem rgba(0, 0, 0, 0.2);
 }
  
 .btn-secondaryy:not(:disabled):not(.disabled):active,
 .btn-secondary:not(:disabled):not(.disabled).active,
 .show > .btn-primary.dropdown-toggle {
  background-color: #fff;
  border-color: #1976BD;
  box-shadow: 0 0.1875rem 0.9375rem rgba(0, 0, 0, 0.2);
 }
  
 .btn-secondary:hover,
 .btn-secondary:focus,
 .btn-secondary:active {
  background-color: #1976BD;
  border-color: #1976BD;
  box-shadow: 0.125rem 0.1875rem 0.9375rem rgba(0, 0, 0, 0.3);
  color: #fff;
 }
  
 .btn-secondary {
  background-color: #fff;
  border-color: #1976BD;
  color: #1976BD;
 }
  
 .btn-secondary.disabled,
 .btn-secondary:disabled {
  background-color: #fff;
  border-color: #1976BD;
 }
  
 .btn-secondary:not(:disabled):not(.disabled):active:focus,
 .btn-secondary:not(:disabled):not(.disabled).active:focus,
 .show > .btn-secondary.dropdown-toggle:focus {
  background-color: #fff;
  border-color: #1976BD;
  box-shadow: 0 0.1875rem 0.9375rem rgba(0, 0, 0, 0.2);
 }
  
 .btn-secondary:not(:disabled):not(.disabled):active,
 .btn-secondary:not(:disabled):not(.disabled).active,
 .show > .btn-secondary.dropdown-toggle {
  background-color: #fff;
  border-color: #1976BD;
  box-shadow: 0 0.1875rem 0.9375rem rgba(0, 0, 0, 0.2);
 }
  
 .btn-dark {
  background-color: #191919;
  border-color: #191919;
 }
  
 .btn-outline-primary {
  border-color: #3a79f9;
  color: #3a79f9;
 }
  
 .btn-outline-primary:hover {
  background-color: #3a79f9;
  border-color: #3a79f9;
 }
  
 .btn-outline-primary:not(:disabled):not(.disabled):active:focus {
  background-color: #3a79f9;
  border-color: #3a79f9;
  box-shadow: 0 0 0 0.2rem rgba(58, 121, 249, 0.5);
 }
  
 .btn-lg {
  padding: 0.75rem 1.5rem;
  font-size: 1.125rem;
 }
  
 .btn-sm {
  font-size: 0.8125rem;
  padding: 0.375rem 1rem;
 }
  
 .btn-xs {
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.125rem 0.6875rem;
  text-transform: uppercase;
 }
  
 [class*="btn-outline-"] {
  box-shadow: none;
 }
  
 .ts-btn-border-muted {
  border-color: rgba(25, 25, 25, 0.1);
 }
  
 /*-------------------------------------------
  -- Card
 -------------------------------------------*/
  
 .card {
  backface-visibility: hidden;
  border: none;
  box-shadow: 0.125rem 0.1875rem 0.9375rem rgba(0, 0, 0, 0.15);
  margin-bottom: 1.175rem;
  overflow: hidden;
  position: relative;
  z-index: -1;
 }
  
 .card-columns .card {
  margin-bottom: 1.25rem;
 }
  
 .card-body,
 .card-footer,
 .card-header {
  padding: 1.5625rem;
 }
  
 .ts-item {
  height: 100%;
  padding-bottom: 1.875rem;
 }
  
 .ts-item-content {
  display: flex;
  flex-direction: column;
  height: 100%;
 }
  
 .ts-item-header {
  margin-bottom: 1.5625rem;
  position: relative;
 }
  
 .ts-item-header .icon {
  position: relative;
  display: inline-block;
 }
  
 .ts-item-header .icon .step {
  background-color: #3a79f9;
  top: 0;
  box-shadow: 0.125rem 0.1875rem 0.9375rem rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  color: #fff;
  font-weight: 600;
  line-height: 1.875rem;
  right: 0;
  height: 1.875rem;
  position: absolute;
  text-align: center;
  width: 1.875rem;
 }
  
 .ts-item-body {
  flex: 1 1 auto;
 }
  
  
 /*-------------------------------------------
  -- List
 -------------------------------------------*/
  
 ul {
  line-height: 2.5rem;
  list-style: none;
  padding-left: 0;
 }
  
 ul.ts-list-colored-bullets li:before {
  content: "•";
  color: #3a79f9;
  vertical-align: middle;
  font-size: 1.75rem;
  padding-right: 0.75rem;
 }
  
 ul.ts-list-divided li {
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.1);
  padding-bottom: 0.3125rem;
  padding-top: 0.3125rem;
 }
  
 ul.ts-list-divided li:last-child {
  border-bottom: none;
 }
  
 /*-------------------------------------------
  -- Hero
 -------------------------------------------*/
  
 #ts-hero {
  color: #fff;
  display: flex;
  position: relative;
  overflow: hidden;
 }
  
 #ts-hero .ts-background-image {
  background-position: top center;
 }
  
 /*-------------------------------------------
  -- Navbar
 -------------------------------------------*/
  
 .navbar {
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 1rem;
  padding-top: 1rem;
  transition: 0.3s ease;
  color: #737373;
 }
  
 .navbar.in {
  padding-bottom: 1rem;
  padding-top: 1rem;
 }
  
 .navbar.in .ts-background {
  opacity: 1 !important;
 }
  
 .navbar .ts-background {
  transition: 1s ease;
 }
  
 [class*="navbar-expand"] .navbar-nav .nav-link {
  margin-left: 0 auto;
 }
  
 .navbar-brand {
  margin: 0 auto;
  margin-top: 0;
  padding-top: 0;
 }
  
  
 /*-------------------------------------------
  -- Page
 -------------------------------------------*/
  
 .ts-page-wrapper {
  overflow: hidden;
 }
  
 /*-------------------------------------------
  -- Tabs
 -------------------------------------------*/
  
 .nav-tabs {
  border-bottom: none;
 }
  
 .nav-tabs h4 {
  font-weight: normal;
  margin-bottom: 0;
 }
  
 .nav-tabs .nav-link {
  background-color: transparent;
  border: none;
  border-bottom: 0.1875rem solid transparent;
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  padding-right: 0;
  padding-left: 0;
  color: inherit;
  opacity: 0.5;
 }
  
 .nav-tabs .nav-link.active {
  color: #2c302e;
  background-color: transparent;
  border-bottom: 0.1875rem solid #3a79f9;
  opacity: 1;
 }
  
 /*-------------------------------------------
  -- Hero Form Floated
 -------------------------------------------*/
  
 .floated {
  position: relative;
  width: 100%;
  z-index: 1;
  bottom: -1.875rem;
 }
  
 .floated form {
  position: relative;
  padding: 1.875rem 3.75rem;
 }
  
 /*-------------------------------------------
  -- SVG Shapes
 -------------------------------------------*/
  
 .ts-svg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: 0;
  z-index: -1;
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  margin: auto;
 }
  
  
 .check {
    color: #F0A202;
 }
  
 .ts-story icon {
    color: #fff;
  }
  
 .ts-story p {
  color: #fff;
 }
  
 .ts-story .ts-background {
  background-color: #1976bd !important;
  }
  
 .ts-story .ts-background-image {
  opacity: 0.3 !important;
 }
  
 .ts-story {
  margin-bottom: 2rem;
  padding: 14rem 2rem 2rem 2rem;
  position: relative;
  height: 100%;
 }
  
 .ts-story .ts-background,
 .ts-story .ts-background-image {
  transition: 0.3s ease;
  width: 100%;
  background-size: cover;
 }
  
 .ts-story figure {
  background-color: #fff;
  color: rgba(25, 25, 25, 0.2);
  font-weight: 500;
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: bottom;
 }
  
 .ts-story h3 {
    color: #fff;
 }
   .ts-story-about:hover {
    color: #fff;
  }
   .ts-story-about:hover .ts-background-image {
    opacity: 0.3 !important;
  }
   .ts-story-about {
    padding: 2rem;
    position: relative;
    color: #fff;
  }
   .ts-story-about .ts-background,
  .ts-story-about .ts-background-image {
    transition: 0.3s ease;
  }
  
 #card-img {
    background-repeat: no-repeat;
    background-size: cover;
  
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
  }
  
  #card-img:hover {
    opacity: 0.9;
  }
  /*-------------------------------------------
  -- Other
 -------------------------------------------*/
  
 /* Footer push up */
  
 .container-about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  height: 100%;
 margin: 1rem;
  grid-auto-flow: row;
  grid-template-areas:
    "first first first first"
    "second second third third"
    "fourth fourth fifth fifth";
 }
  
 link:hover {
    color: #08836a;
 }
  
 .footer-basic {
  padding: 40px 0;
   background-color: #f3f3f3;
 }
  
 .footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.6;
  margin-bottom: 0;
  color: #333;
 }
  
 .footer-basic li {
  padding: 0 10px;
 }
  
 .footer-basic ul a {
  color: #333;
  text-decoration: none;
  opacity: 0.8;
 }
  
 .footer-basic ul a:hover {
  opacity: 1;
 }
  
 .footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
 }
  
 .rounded-corners {
    border-radius: 15px;
 }
  
 .card {
  background-color: #fff;
  color: #1976bd;
  border: 2px solid #f4f4f4;
 }
  
 .service-card-text {
    background-color: #1976bd;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
 }
  
 .ts-item-body p {
  color: #737373;
 }
  
 .blue-span {
  color: #1976BD;
 }
  
 .green-span {
  color: #08836a;
 }
  
 .black-span {
  color: #2C302E;
 }
  
 .promo-banner {
  position: fixed;
  z-index: 5 !important;
  top: 77px;
  padding-bottom: 0;
  width: 100vw;
  background-color: #f7f7f7;
  color: #737373;
 }
  
 .promo-banner p {
  color: #2C302E;
  padding-top: 1em;
 }
  
 .promo-card p {
  color: #2C302E;
 }
  
 .promo-card:hover {
  opacity: 1 !important;
 }
  
 .blue-text {
  color: color__black;
 }
  
 #ts-footer .ts-box {
  margin-top: -3.125rem;
  color: #737373 !important;
 }
  
 li {
  line-height: 1.8em;
 }
  .five-star-col {
      background-color: #fff;
      box-shadow: 5px 3px 9px 2px rgba(143,125,125,0.55);
      border-radius: 5px;
  }
  
  .five-star-col h3 {
      color: #1976bd;
  }
  
  .service-3-item {
      margin: 0 auto;
      padding: 0;
      width: 80%;
      color: #1976BD;
  }
  
  .service-3-item:hover {
      color: #1976BD;
  }
  
  .service-3-col {
      margin: 1rem auto;
      align-items: center;
  
  }
  
  .more-btn {
    color: #1976BD;
  }
  
  .learn-more-secondary {
    padding-top: .63rem;
    padding-bottom: .63rem;
    margin-top: .1rem;
    margin-bottom: .7rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  more-btn:hover {
    color:#08836a;
  }
  
 .card {
  transition: all 0.1s ease-in-out;
  
 }
  
 .card-img {
  height: 90%;
 }
  
  
 .footer-contact {
  font-size: .8em;
  line-height: 1.3em;
 }
  
 .card:hover{
    opacity: 0.9;
 }
  
 .btn-group-2 {
  display: flex;
  height: 100%;
  margin-bottom: 0;
  align-items: center;
  justify-content: center;
 }

 #pricing {
   text-align: center;
 }

 .pricing-container {
   

 }

 .section-title {
  text-align: center;
 }

 .pricing-content-container {

 }

 .pricing-content {
  backface-visibility: hidden;
  border: none;
  box-shadow: 0.125rem 0.1875rem 0.9375rem rgba(0, 0, 0, 0.15);
  margin-bottom: 1.175rem;
  overflow: hidden;
  position: relative;
  z-index: -1;

 }

 .pricing-icon {
   margin-bottom: 1em;
 }

 .pricing-title {
   color: #1976bd;
 }

 .p-subtitle {
   color: #737373;
   font-weight: bold;
   margin: .5em;
   font-size: .888em;
 }

 .pricing-subtitle {

 }

 .pricing-price {
  font-size: 3.5rem;
  margin-left: 1.1em;
  margin-top: .5em;
  margin-bottom: .5em;
 }

 .pricing-text p {
 background-color: #dfe6ec;
 font-weight: 600;
 font-size: .8888rem;
 color: #737373;
 padding: 0;
 margin: 0 auto;
 padding-top: 1em;
 padding-bottom: 1em;
 width: 100%;
 align-items: center;

 }

 .pricing-text ul {
  background-color: #dfe6ec;
  list-style: inside;
  color: #737373;
  padding-bottom: 0;
  margin: 0 auto;
 
  width: 100%;
  align-items: center;
 }

 .pricing-text ul li {
   margin-bottom: 0;
   padding-bottom: 0;
 }

 .third-ul {
   background-color: #f4f7fc;
 }

 .first-ul {
  background-color: #dfe6ec;
 }

 .top-curve {
   border-top-left-radius: 2em;
   border-top-right-radius: 2em;
 }
 
 .bottom-curve {
   border-bottom-left-radius: 2em;
   border-bottom-right-radius: 2em;
 }

 .pricing-text h5 {

 }

 .price-multi p{
   line-height: 2px;
   font-size:small;
   padding: 0;
   margin: 0;
 }

 .price-multi-li{
   font-family: "museo-slab", serif;
   font-weight: 500;
   font-size: small;
   background-color: #dfe6ec;
   padding:0;
   height: 100%;
 }

 .multi-p-header {

 }

 .pricing-text p:nth-child(odd){
   background-color: #f4f7fc;
 }

 .pricing-subtitle {
   display: flex;
   flex-direction: column;
   padding-top: 1em;
   padding-bottom: 0;
   margin-bottom: 0;
 }

 .pricing-hour {
   color: #737373;
   font-size: 0.9rem;
 }

 .pricing-subtitle p {
   font-size: 0.48888em;
   color: #737373;
   font-family: "museo-slab", serif;
   font-weight: 500;
   padding-top: 0;
   padding-bottom: 1em;
 }

 .pricing-btn-group {
   background-color: #fff;
 }

  
  
  
  
  
  
  
  
  
  
  
  
  
 @media (min-width: 1008px) {
  html {
    font-size: 100%;
  }
  
  h1,
  .ts-h1 {
    font-size: 3.5rem;
  }
  
  h2,
  .ts-h2 {
    font-size: 2.25rem;
  }
  
  h3,
  .ts-h3 {
    font-size: 1.625rem;
  }
  
  .ts-block {
    padding-bottom: 8.125rem;
    padding-top: 8.125rem;
  }
  
  .ts-card__image {
    height: 15.625rem;
  }
  
  .navbar.navbar-expand-md .navbar-nav {
    align-items: center;
  }
  
  .navbar.navbar-expand-md .ts-background {
    opacity: 0;
  }
  
  .floated form {
    padding: 2.5rem 5rem;
  }
  
  .learn-more-secondary {
    padding-top: .63rem;
    padding-bottom: .63rem;
    margin-top: .1rem;
    margin-bottom: .7rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  .btn-group-2 {
    display: flex;
    height: 100%;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
  }
  
  #team {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
 }
  
  
  
  
  
  
  
  
  
  
 /* this one - mobile */
  
 @media (min-width: 541px) and (max-width: 1007px) {
  
  #ts-footer {
    color: #fff;
    background-color: #1976bd;
  }
  
  .navbar.navbar-expand-sm .navbar.navbar-expand-lg .navbar-nav {
    align-items: center;
  }
  
  .navbar.navbar-expand-sm .ts-background {
    opacity: 0;
  }
  
  .ts-card__image {
    height: 15.625rem;
  }
  
  .button-group {
    margin-bottom: 3em
  }
  
  .team-text {
    order: 2;
  }
  
  .meet-img {
    order: 1;
  }
  
  .btn {
    margin-top: 0;
  }
  
  .button-group {
    margin: 2rem;
  }
  
  .card {
    margin-bottom: 0;
  }
  
  .card-row {
    margin-bottom: 0;
  }
  
  .row-img {
    display: none;
  }
  
  .star-row {
    margin: 0;
  }
  
  .five-star-col {
    margin: 0;
  }
  
  .team-row {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  
  .meet-img {
    order: 1;
    margin-bottom: 1rem;
  }
  
  .meet-text {
    order: 2;
  }
  
  #studio-section-btn {
    margin-bottom: 3.5rem;
  }
  
  h1,
  .ts-h1 {
    margin-bottom: 1.25rem;
  }
  
  .ts-xs-text-center {
    text-align: center !important;
  }
  
  .ts-title {
    margin-bottom: 1.875rem;
  }
  
  .ts-background-image-hero {
    display: none;
    text-align: center;
  }
  
  #us {
    margin-top: 5rem;
  }
  
  p {
    font-weight: 500;
    color: #737373;
  }
  
  #services-1 {
    height: 100%;
    margin-bottom: 5rem;
  }
  
  #star {
    margin-top: 5rem;
  }
  
  #mission {
    margin-top: 0;
    padding-top: 0;
  }
  
  #arrow-bottom {
    display: none;
  }
  
  #booking {
    margin-top: 8rem;
    margin-bottom: 5rem;
  }
  
  .learn-more-secondary {
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: 1px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
  }
  
  .img-cut {
    display: inline-block;
  }
  
  .ts-promo-numbers h2 {
    font-size: 2.25rem;
  }
 }
  
  
  
  
  
  
  
  
  
  
 @media (max-width: 540px) {
  .navbar.navbar-expand-sm .navbar.navbar-expand-lg .navbar-nav {
    align-items: center;
  }
  
  p {
    font-weight: 500;
    color: #737373 !important;
  }
  
  .navbar.navbar-expand-sm .ts-background {
    opacity: 0;
  }
  
  .learn-more-secondary {
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: 1px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
  }
  
  .button-group {
    margin-bottom: 3rem;
  }
  
  .joe-btn-group {
    text-align: center;
  }
  
  .team-text {
    text-align: center;
  }
  
  .meet-owner-title{
    margin-top: 2em;
  }
  
  #team, #mission {
    height: 100%;
  }
  
  .ts-background-image-hero {
    display: none;
    text-align: center;
  }
  
  #us {
    margin-top: 5rem;
  }
  
  #services-1 {
    height: 100%;
    margin-bottom: 5rem;
  }
  
  #star {
    margin-top: 5rem;
  }
  
  #mission {
    margin-top: 0;
    padding-top: 0;
  }
  
  #arrow-bottom {
    display: none;
  }
  
  #booking {
    margin-top: 8rem;
    margin-bottom: 5rem;
  }
  
  .img-cut {
    display: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  .team-row {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  
  .meet-img {
    order: 1;
    margin-bottom: 1rem;
  }
  
  .meet-text {
    order: 2;
  }
  
  .card-text {
    font-size: .75em;
  }
  
  #booking {
    height: 100%;
    margin-top: 0;
  }
  
  .row-img {
    padding: 0;
    margin: 0;
  }
  
  #mobile-map {
    margin-left: 2em;
  }
  
  .tpc-img {
    order: 2;
    margin-top: 2em;
  }
  
  .tpc-text {
    order: 1;
  }
  
  .promo-card {
    display: none;
  }
  
  #mobile-map {
    margin: 0 auto;
  }
  
 }
 