/***********************************************************************************************************************
A. Basic Styling
***********************************************************************************************************************/
 
/*-------------------------------------------
 -- Styling - Colors, Font Size, Font Family
-------------------------------------------*/
 
body {
  color: #737373;
  font-family: "museo", serif;
  font-weight: 700;
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
  font-display: swap;
 }

 html {
  font-size: 100%;
 }

 h1,
 .ts-h1 {
  font-weight: 700;
   font-size: 3.5rem;
 }
 
 h2,
 .ts-h2 {
  font-weight: 700;
   font-size: 2.25rem;
   color: #2C302E;
 }
 
 h3,
 .ts-h3 {
  font-weight: 700;
   font-size: 1.625rem;
 }
 
 h4,
 .ts-h4 {
  font-weight: 700;
  margin-bottom: 1.875rem;
 }
  
 h5,
 .ts-h5 {
  font-size: 1rem;
  font-weight: 700;
 }

 h6,
 .ts-h6 {
  font-size: 0.9375rem;
 }
  
 p {
  font-family: museo-slab, serif;
  font-weight: 500;
  font-style: normal;
  color: #737373;
 }
  

  
 .ts-background-image ts-parallax-element {
  opacity: 0;
 }
  
 .nav-link {
  font-weight: 900;
  font-size: 1rem;
  color: #737373;
 }
  
 #us, #about-3, #mission, #team {
  height: 100vh;
  display: flex;
  align-items: center;
 }
  
 #services-1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
 }
  
 #location {
  z-index: -1;
 }
  
 .footer-ul li{
  color: #333;
 }
  
 .card-text {
  font-size: .85em;
 }
  
 .promo-card {
  position: relative;
 }
  
 .promo-banner {
  position: fixed;
  top: 20px;
  z-index: 2;
 }
  
  /*-------------------------------------------
  -- Typography
 -------------------------------------------*/
  
 a {
  color: #1976bd;
  transition: 0.3s ease;
  text-decoration: underline;
 }
  
 .btn, nav a {
  text-decoration: none;
 }
  
 a:hover {
  color: rgb(7, 84, 237);
  text-decoration: none;
 }
  
 p {
  line-height: 1.6875rem;
  margin-bottom: 1rem;
  color: #737373;
 }
  
 .ts-text-small {
  font-size: 0.8125rem !important;
 }
  
 .tpc-text {
  order: 2;
 }

 .ts-item-body p {
  color: #737373;
 }
  
 .blue-span {
  color: #1976BD;
 }
  
 .green-span {
  color: #08836a;
 }
  
 .black-span {
  color: #2C302E;
 }


 /*------------------------------------------ 
 -- Imgs
 ------------------------------------------*/

 img {
  border-radius: .25em;
  position: relative;
}

.landscape-img {
 max-width: 750px;
 max-height: 500px;
}

.img-cut {
max-width: 500px;
max-height: 250px;
}

.tpc-img {
order: 1;
}

ts-background-image rounded-corners {
  border-radius: .25em;
}
  
.column-img {
    overflow: hidden;
    width: 100%;
    border-radius: 5px;
 }
  
.column-img-2 {
    overflow: hidden;
    margin: auto;
    width: 100%;
    border-radius: 5px;
    padding: 0;
 }
  
.ts-background-image-hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 100%;
    overflow: hidden;
    width: 100%;
  }
  
.ts-background-image img {
    border-radius: 5px;   
 }
  
.ts-background-original-size {
  background-size: inherit;
 }
  
 /*-------------------------------------------
  -- Background
 -------------------------------------------*/
  
 [data-bg-image] {
   max-width: 1920px;
   max-height: 1080px;
  background-size: cover;
  background-position: 30%;
 }
  
 .ts-background {
  bottom: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: -2;
 }
  
 .ts-background .ts-background {
  height: 100%;
  width: 100%;
 }

  /*-------------------------------------------
  -- Hero
 -------------------------------------------*/
  
 #ts-hero {
  color: #fff;
  display: flex;
  position: relative;
  overflow: hidden;
 }

 /*-------------------------------------------
  -- Navbar
 -------------------------------------------*/
  
 .navbar {
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 1rem;
  padding-top: 1rem;
  transition: 0.3s ease;
  color: #737373;
 }
  
 .navbar .ts-background {
  transition: 1s ease;
 }
  
 [class*="navbar-expand"] .navbar-nav .nav-link {
  margin-left: 0 auto;
 }
  
  /*-------------------------------------------
  -- Page
 -------------------------------------------*/
  
 .ts-page-wrapper {
  overflow: hidden;
 }
  
 /*-------------------------------------------
  -- Tabs
 -------------------------------------------*/
  
 .nav-tabs {
  border-bottom: none;
 }
  
 .nav-tabs h4 {
  font-weight: normal;
  margin-bottom: 0;
 }
  
 .nav-tabs .nav-link {
  background-color: transparent;
  border: none;
  border-bottom: 0.1875rem solid transparent;
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  padding-right: 0;
  padding-left: 0;
  color: inherit;
  opacity: 0.5;
 }
  
 .nav-tabs .nav-link.active {
  color: #2c302e;
  background-color: transparent;
  border-bottom: 0.1875rem solid #3a79f9;
  opacity: 1;
 }
  
 /*-------------------------------------------
  -- SVG Shapes
 -------------------------------------------*/
  
 .ts-svg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: 0;
  z-index: -1;
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  margin: auto;
 }

  /*-------------------------------------------
  -- Buttons
 -------------------------------------------*/
  
 .btn {
  border-radius: 6.25rem;
  border-width: 0.125rem;
  box-shadow: 0.125rem 0.1875rem 0.9375rem rgba(0, 0, 0, 0.15);
  font-weight: 600;
  font-size: 0.9375rem;
  padding: 0.5rem 1.25rem;
  position: relative;
  outline: none !important;
 }
  
 .btn:hover .fa-arrow-right {
  transform: translateX(0.5rem);
 }
  
 .btn .fa-arrow-right {
  transition: 0.6s cubic-bezier(0.85, -0.37, 0.17, 1.45);
  transform: translateX(0) rotate(0.02deg);
 }
  
 .btn-primary:hover,
 .btn-primary:focus,
 .btn-primary:active {
  background-color: #18947b;
  border-color: #18947b;
  box-shadow: 0.125rem 0.1875rem 0.9375rem rgba(0, 0, 0, 0.3);
 }
  
 .btn-primary {
  background-color: #08836a;
  border-color: #08836a;
  color: #fff;
 }
  
 .btn-primary.disabled,
 .btn-primary:disabled {
  background-color: #18947b;
  border-color: #18947b;
 }
  
 .btn-primary:not(:disabled):not(.disabled):active:focus,
 .btn-primary:not(:disabled):not(.disabled).active:focus,
 .show > .btn-primary.dropdown-toggle:focus {
  background-color: #08836a;
  border-color: #08836a;
  box-shadow: 0 0.1875rem 0.9375rem rgba(0, 0, 0, 0.2);
 }
  
 .btn-secondaryy:not(:disabled):not(.disabled):active,
 .btn-secondary:not(:disabled):not(.disabled).active,
 .show > .btn-primary.dropdown-toggle {
  background-color: #fff;
  border-color: #1976BD;
  box-shadow: 0 0.1875rem 0.9375rem rgba(0, 0, 0, 0.2);
 }
  
 .btn-secondary:hover,
 .btn-secondary:focus,
 .btn-secondary:active {
  background-color: #1976BD;
  border-color: #1976BD;
  box-shadow: 0.125rem 0.1875rem 0.9375rem rgba(0, 0, 0, 0.3);
  color: #fff;
 }
  
 .btn-secondary {
  background-color: #fff;
  border-color: #1976BD;
  color: #1976BD;
 }
  
 .btn-secondary.disabled,
 .btn-secondary:disabled {
  background-color: #fff;
  border-color: #1976BD;
 }
  
 .btn-secondary:not(:disabled):not(.disabled):active:focus,
 .btn-secondary:not(:disabled):not(.disabled).active:focus,
 .show > .btn-secondary.dropdown-toggle:focus {
  background-color: #fff;
  border-color: #1976BD;
  box-shadow: 0 0.1875rem 0.9375rem rgba(0, 0, 0, 0.2);
 }
  
 .btn-secondary:not(:disabled):not(.disabled):active,
 .btn-secondary:not(:disabled):not(.disabled).active,
 .show > .btn-secondary.dropdown-toggle {
  background-color: #fff;
  border-color: #1976BD;
  box-shadow: 0 0.1875rem 0.9375rem rgba(0, 0, 0, 0.2);
 }
  
 .btn-dark {
  background-color: #191919;
  border-color: #191919;
 }
  
 .btn-outline-primary {
  border-color: #3a79f9;
  color: #3a79f9;
 }
  
 .btn-outline-primary:hover {
  background-color: #3a79f9;
  border-color: #3a79f9;
 }
  
 .btn-outline-primary:not(:disabled):not(.disabled):active:focus {
  background-color: #3a79f9;
  border-color: #3a79f9;
  box-shadow: 0 0 0 0.2rem rgba(58, 121, 249, 0.5);
 }
  
 .btn-lg {
  padding: 0.75rem 1.5rem;
  font-size: 1.125rem;
 }
  
 .ts-btn-border-muted {
  border-color: rgba(25, 25, 25, 0.1);
 }

 .more-btn {
  color: #1976BD;
}

.learn-more-secondary {
  padding-top: .63rem;
  padding-bottom: .63rem;
  margin-top: .1rem;
  margin-bottom: .7rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

more-btn:hover {
  color:#08836a;
}

.btn-group-2 {
display: flex;
height: 100%;
margin-bottom: 0;
align-items: center;
justify-content: center;
}
  
.ts-background-position-left {
  background-position-x: left !important;
}
  
 /*-------------------------------------------
  -- Title
 -------------------------------------------*/
  
 .ts-title h5 {
  font-weight: normal;
  opacity: 0.5;
 }
  
 /*-------------------------------------------
  -- Utilities
 -------------------------------------------*/
  
 .ts-element {
  position: relative;
 }
  
 /*-------------------------------------------
  -- Z-index
 -------------------------------------------*/
  
 .ts-z-index__-1 {
  z-index: -1 !important;
 }
  
 .ts-z-index__0 {
  z-index: 0 !important;
 }
  
 .ts-z-index__1 {
  z-index: 1 !important;
 }
  
 .ts-z-index__2 {
  z-index: 2 !important;
 }
  
 .ts-z-index__1000 {
  z-index: 1000 !important;
 }
  
 /***********************************************************************************************************************
 C. Components
 ***********************************************************************************************************************/
  
 /*-------------------------------------------
  -- Block
 -------------------------------------------*/

 .ts-block {
  padding-bottom: 8.125rem;
  padding-top: 8.125rem;
  position: relative;
}

 /*-------------------------------------------
  -- Card
 -------------------------------------------*/
  
 .card {
  backface-visibility: hidden;
  background-color: #fff;
  color: #1976bd;
  border: none;
  box-shadow: 0.125rem 0.1875rem 0.9375rem rgba(0, 0, 0, 0.15);
  margin-bottom: 1.175rem;
  overflow: hidden;
  position: relative;
 }
  
 .card-columns .card {
  margin-bottom: 1.25rem;
 }
  
 .card-body,
 .card-footer,
 .card-header {
  padding: 1.5625rem;
 }

 .ts-story-about {
  padding: 2rem;
  position: relative;
  color: #fff;
}

link:hover {
  color: #08836a;
}

.rounded-corners {
  border-radius: 15px;
}
  
 .ts-item {
  height: 100%;
  padding-bottom: 1.875rem;
 }
  
 .ts-item-content {
  display: flex;
  flex-direction: column;
  height: 100%;
 }
  
 .ts-item-header {
  margin-bottom: 1.5625rem;
  position: relative;
 }
  
 .ts-item-header .icon {
  position: relative;
  display: inline-block;
 }

 .five-star-col {
  background-color: #fff;
  box-shadow: 5px 3px 9px 2px rgba(143,125,125,0.55);
  border-radius: 5px;
}

.five-star-col h3 {
  color: #1976bd;
}

.five-star-col, .pricing-text, .card { transition: all .2s ease-in-out; }
.five-star-col:hover, .pricing-text:hover, .card:hover { transform: scale(0.98); }
  
  
 /*-------------------------------------------
  -- List
 -------------------------------------------*/

 li {
  line-height: 1.8em;
 }

 
/*-------------------------------------------- 
Promo Section
---------------------------------------------*/
  
 .promo-banner {
  position: fixed;
  z-index: 5;
  top: 77px;
  padding-bottom: 0;
  background-color: #f7f7f7;
  color: #737373;
 }
  
 .promo-banner p {
  color: #2C302E;
  padding-top: 1em;
 }
  
 .promo-card p {
  color: #2C302E;
 }

  /*-------------------- 
  Pricing
  ---------------------*/

  .pricing-section {
    box-shadow: none;
  }

  .pricing-col {
    box-shadow: none;
  }

  .pricing-icon {
    margin-bottom: 1em;
  }

  .pricing-title {
    color: #1976bd;
  }

  .p-subtitle {
    color: #737373;
    font-weight: bold;
    margin: .5em;
    font-size: .888em;
  }

  .pricing-price {
    font-size: 3.5rem;
    margin-left: 1.1em;
    margin-top: .5em;
    margin-bottom: .5em;
   }

  .pricing-hour {
    color: #737373;
    font-size: 0.9rem;
  }

  .pricing-text p {
    background-color: #dfe6ec;
    font-weight: 600;
    font-size: .8888rem;
    padding: 1.5em;
    color: #737373;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    line-height: 1.3em;
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.34);
    }

  .pricing-text p:nth-child(odd){
    background-color: #f4f7fc;
  }

  .top-curve {
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
  }
  
  .bottom-curve {
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
  }

  /*------------------------ 
  Footer
  ------------------------*/

  .footer-basic {
    padding: 40px 0;
     background-color: #f3f3f3;
   }
    
   .footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.6;
    margin-bottom: 0;
    color: #333;
   }
    
   .footer-basic li {
    padding: 0 10px;
   }
    
   .footer-basic ul a {
    color: #333;
    text-decoration: none;
    opacity: 0.8;
   }
    
   .footer-basic ul a:hover {
    opacity: 1;
   }
    
   .footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
   }

   .footer-contact {
    font-size: 8em;
    line-height: 1.3em;
   }

   /* NEW */
  
 /***********************************************************************************************************************
 B. Helpers
 ***********************************************************************************************************************/
  
 /*-------------------------------------------
  -- Animations
 -------------------------------------------*/
  
 [data-animate] {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: .9s;
  animation-timing-function: ease;
 }
  
 /* Fade In Up */
  
 @keyframes ts-fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 1.5rem, 0);
  }
  
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
 }
  
 .ts-fadeInUp {
  animation-name: ts-fadeInUp;
 }
  
 /* Fade In Down */
  
 @keyframes ts-fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -1.5rem, 0);
  }
  
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
 }
  
 .ts-fadeInDown {
  animation-name: ts-fadeInDown;
 }
  
 /* Fade In Left */
  
 @keyframes ts-fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-1.5rem, 0, 0);
  }
  
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
 }
  
 .ts-fadeInLeft {
  animation-name: ts-fadeInLeft;
 }
  
 /* Fade In Right */
  
 @keyframes ts-fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(1.5rem, 0, 0);
  }
  
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
 }
  
 .ts-fadeInRight {
  animation-name: ts-fadeInRight;
 }
  
 /* Zoom In */
  
 @keyframes ts-zoomIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  
  to {
    opacity: 1;
    transform: scale(1);
  }
 }
  
 .ts-zoomIn {
  animation-name: ts-zoomIn;
 }
  
 /* Zoom Out In */
  
 @keyframes ts-zoomOutIn {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  
  to {
    opacity: 1;
    transform: scale(1);
  }
 }
  
 .ts-zoomOutIn {
  animation-name: ts-zoomOutIn;
 }
  
 /* Zoom In Short */
  
 @keyframes ts-zoomInShort {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  
  to {
    opacity: 1;
    transform: scale(1);
  }
 }



@media (max-width: 990px) {

  html {
    font-size: 100%;
  }
  
  body {
    background-color: mediumaquamarine;
  }


  h1,
  .ts-h1 {
    font-size: 3.5rem;
  }
  
  h2,
  .ts-h2 {
    font-size: 2.25rem;
  }
  
  h3,
  .ts-h3 {
    font-size: 1.625rem;
  }
  
  .ts-block {
    padding-bottom: 8.125rem;
    padding-top: 8.125rem;
  }



  .navbar.navbar-expand-md .navbar-nav {
    align-items: center;
  }
  
  .navbar.navbar-expand-md .ts-background {
    opacity: 0;
  }

  .nav-cut {
    display: none;
  }

  .promo-card {
    display: none;
  }

  .img-cut {
    display: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .row-img {
    display: none;
  }



  /* .learn-more-secondary {
    padding-top: .63rem;
    padding-bottom: .63rem;
    margin-top: .1rem;
    margin-bottom: .7rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  } */

  .hero-btn-1 {
    margin-left: 0;
  }

  .hero-btn-2 {
    margin: 1em;
  }
  
  /* .btn-group-2 {
    display: flex;
    height: 100%;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
  } */

  /* img {
    display: block;
  } */


  
  #team {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

 }
  
  
  
  
  
  
  
  
  
  
 /* this one - mobile */
  
 @media (min-width: 541px) and (max-width: 900px) {


  /*Global */


  body {
    background-color: magenta;
  }

  /*Typography */

  h1,
  .ts-h1 {
    margin-bottom: 1.25rem;
  }
  
  .ts-xs-text-center {
    text-align: center !important;
  }
  
  .ts-title {
    margin-bottom: 1.875rem;
  }

  p {
    font-weight: 500;
    color: #737373;
  }

  /*Hero + Nav */

  #ts-hero {
    margin-top: 3rem;
  }

  .ts-background-image-hero {
    /* display: none; */
    text-align: center;
  }

  .navbar.navbar-expand-sm .navbar.navbar-expand-lg .navbar-nav {
    align-items: center;
  }
  
  .navbar.navbar-expand-sm .ts-background {
    opacity: 0;
  }

  .nav-cut {
    display: none;
  }

  /*Buttons */

  .button-group {
    margin-bottom: 3em
  }

  .btn {
    margin-top: 0;
  }

  #studio-section-btn {
    margin-bottom: 3.5rem;
  }

  /* .learn-more-secondary {
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: 1px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
  } */
  
  /*layout */

  .promo-card {
    display: none;
  }

  .card {
    margin-bottom: 0;
  }
  
  .card-row {
    margin-bottom: 0;
  }

  .team-text {
    order: 2;
  }

  .meet-text {
    order: 2;
  }

  .star-row {
    margin: 0;
  }
  
  .five-star-col {
    margin: 0;
  }
  
  .team-row {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  #services-1 {
    height: 100%;
    margin-bottom: 5rem;
  }

  #us {
    margin-top: 5rem;
  }
  
  #star {
    margin-top: 5rem;
  }
  
  #mission {
    margin-top: 0;
    padding-top: 0;
  }
  
  #arrow-bottom {
    display: none;
  }

  /*imgs  */

  .ts-card__image {
    height: 15.625rem;
  }

  .meet-img {
    order: 1;
    margin-bottom: 1rem;
  }
  .row-img {
    display: none;
  }

  .ts-svg {
    background-size: auto;
  }
  
  /* .img-cut {
    display: inline-block;
  } */


  /*Footer */
  #ts-footer {
    color: #fff;
    background-color: #1976bd;
  }
 }
  
  
  
  
  
  
  
  
  
  
 @media (max-width: 540px) {
  .navbar.navbar-expand-sm .navbar.navbar-expand-lg .navbar-nav {
    align-items: center;
  }

  body {
    background-color: cyan;
  }
  
  p {
    font-weight: 500;
    color: #737373 !important;
  }
  
  .navbar.navbar-expand-sm .ts-background {
    opacity: 0;
  }
  
  .learn-more-secondary {
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: 1px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
  }
  
  .button-group {
    margin-bottom: 3rem;
  }
  
  .joe-btn-group {
    text-align: center;
  }
  
  .team-text {
    text-align: center;
  }
  
  .meet-owner-title{
    margin-top: 2em;
  }
  
  #team, #mission {
    height: 100%;
  }
  
  .ts-background-image-hero {
    /* display: none; */
    text-align: center;
  }

  .ts-svg {
    background-size: auto;
  }
  
  #us {
    margin-top: 5rem;
  }
  
  #services-1 {
    height: 100%;
    margin-bottom: 5rem;
  }
  
  #star {
    margin-top: 5rem;
  }
  
  #mission {
    margin-top: 0;
    padding-top: 0;
  }
  
  #arrow-bottom {
    display: none;
  }
  
  .img-cut {
    display: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  .team-row {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  
  .meet-img {
    order: 1;
    margin-bottom: 1rem;
  }
  
  .meet-text {
    order: 2;
  }
  
  .card-text {
    font-size: .75em;
  }
  
  .row-img {
    padding: 0;
    margin: 0;
  }
  
  .tpc-img {
    order: 2;
    margin-top: 2em;
  }
  
  .tpc-text {
    order: 1;
  }
  
  .promo-card {
    display: none;
  }

  
 }
 